<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"> <img src="/assests/images/logo.png" class="img-fluid" alt="Responsive image" style="width:200px;"></a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> <!--Hamburger-->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" > 
      
        <ul class="nav nav-tabs ml-auto">
            <li class="nav-item">
              <a class="nav-link text-white" aria-current="page" href="/home" ><i class="fas fa-laptop-house"></i> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/about"> <i class="fas fa-info-circle"></i> About </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/project"> <i class="fab fa-product-hunt"></i> Projects </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " href="/services" tabindex="-1" > <i class="fab fa-servicestack"></i> Services </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/contact" tabindex="-1" ><i class="fas fa-envelope-square"></i></i> Contact </a>
            </li>
          </ul>
    </div>
  </nav>