<%- include partial_others/header_.ejs %>

<%- include partial_others/main__nav.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-center" >Services</h1>

    <ul class="list-group text-center">
      <br>
      <li class="list-group-item"><p>HTML</p><i class="fab fa-html5 fa-5x "></i></li>
      <li class="list-group-item"><p>CSS</p><i class="fab fa-css3-alt fa-5x"></i></li>
      <li class="list-group-item"><p>JavaScript</p><i class="fab fa-js-square fa-5x"></i></li>
      <li class="list-group-item"><p>Bootstrap</p><i class="fab fa-bootstrap fa-5x"></i></li>
      <li class="list-group-item"><p>React</p><i class="fab fa-react fa-5x"></i></li>
    </ul>

</main>


<%- include partial_others/bottom__nav.ejs %>
  <!-- Script Section --> 
  <%- include partial_others/footer_.ejs %>